<% if (!address) { %>
    <b>Address data is unavailable!</b><br>
    <a href="/address">&laquo; Back to Address Page</a>
<% } else { %>
<h2>Detail Contact</h2>
<a href="/address">&laquo; Back to Address Page</a><br><br>
<table>
    <tr>
        <td>Full Name</td>
        <td>:</td>
        <td><%= address.name %></td>
    </tr>
    <tr>
        <td>Phone Number</td>
        <td>:</td>
        <td><%= address.phone %></td>
    </tr>
    <tr>
        <td>Email</td>
        <td>:</td>
        <td><%= address.email %></td>
    </tr>
    <tr>
        <td>Address</td>
        <td>:</td>
        <td><%= address.address %></td>
    </tr>
</table>
<% } %>
<br><a href="/address/edit/<%= address.name %>">Edit</a> | <a href="/address/delete/<%= address.name %>" onclick="return confirm('Are you sure?')">Delete address</a>